body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.auth {
  height: calc(100vh - 70px);
  background-image: url("../public/screenimages/pexels-pixabay-35967.jpg");
  /* height: auto !important; */
  min-height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.up {
  height: calc(100vh - 45px);
  background-image: url("../public/screenimages/pexels-pixabay-35967.jpg");
  /* height: auto !important; */
  /* min-height: 100%; */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.upf {
  /* display: flex; */
  /* flex-direction: column; */
  /* height: calc(69vh - -28px); */
  gap: 20px;
  width: 500px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  color: black;

  background-color: white;
}

.form {
  /* display: flex; */
  /* flex-direction: column; */
  gap: 20px;
  /* width: 500px; */
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  color: black;

  background-color: white;
}
.UserName {
  color: white;
  padding: 0px 10px;
  margin: 0 10px;
}

.logoutUser {
  font-size: 19px;
  cursor: pointer;
}

.main {
  /* background-image: url("../public/screenimages/pexels-pixabay-35967.jpg"); */

  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wel p {
  /* margin: 50px;
  border: 5px solid; */

  margin: 100px;
  width: 50%;
  font-size: 40px;
  padding: 10px;
}

/* car card */

body {
  font-family: Varela Round;
  background: #f1f1f1;
}

a {
  text-decoration: none;
}

/* Card Styles */

.card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: fit-content;
}

.card-image {
  /* max-height: auto; */
  /* change 100 to auto */
  /* width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0; */
  width: 349px;
  height: 349px;
  object-fit: cover;
}
.card-image > img {
  object-fit: cover;
  border-radius: 8px 8px 0px 0;
}

.card-action {
  position: relative;
  float: right;
  margin-top: -25px;
  margin-right: 20px;
  z-index: 2;
  color: #e26d5c;
  background: #fff;
  border-radius: 100%;
  padding: 15px;
  font-size: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
  color: #fff;
  background: #e26d5c;
  -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 15px;
}

.card-text {
  padding: 10px 15px;
  background: #fff;
  font-size: 14px;
  color: #636262;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #1f487e;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

.card-button:hover {
  text-decoration: none;
  background-color: #1d3461;
  color: #fff;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }

  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

/* home page css */
.bg {
  display: flex;
  /* height: 1000vh; */
  height: auto !important;
  min-height: 100%;
  justify-content: center;
  background-color: black;
}

/* image */
.ABody {
  display: flex;
  flex-direction: column;
  height: 85vh;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.img-large {
  max-width: 100%;
}
.cardContainer {
  gap: 50px;
}

.color {
  color: #fff !important;
}

/* yup error message style  */
.form-error {
  font-size: 12px;
  color: red;
  margin-top: 0.25rem;
}

.csel {
  background-color: black;
  width: 400px;
  height: 400px;
}
.carousel-item {
  width: 500px;
  height: 500px;
}
.carousel-item img {
  margin: auto;
  background-color: aqua;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb {
  /* display: flex; */
  width: 79px;
  height: 130px;
}

.imgbtn {
  font-size: 12px;
  color: #e26d5c;
}

/* for details page */
.vee {
  overflow: hidden;
}

.top {
  color: red;
  float: right;
}

.updateImg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 19px;
}

.thumb {
  /* display: flex; */
  width: 79px;
  height: 130px;
}

.thumb img {
  /* display: flex; */
  display: inline;
}

.imgbtn {
  display: inline;
}


/* home page image  */
.card-img-top {
  width: 100%;
  height: 28vh;
  object-fit: cover;
  }